{% load wagtailcore_tags wagtailimages_tags %}

<div class="listing-card">
    <a class="listing-card__link" href="{{ page.url }}">
        {% if page.image %}
            <figure class="listing-card__image">
                {% image page.image fill-180x180-c100 loading="lazy" %}
            </figure>
        {% elif page.cover_image %}
            <figure class="listing-card__image">
                <img src="{{ page.cover_image.image_url }}" height="180" width="180" loading="lazy" />
            </figure>
        {% endif %}
        <div class="listing-card__contents">
            <h3 class="listing-card__title">{{ page.title }}</h3>
            {% if page.location or page.description or page.caption%}
                <table class="listing-card__meta">
                    {% if page.location %}
                        <tr>
                            <td class="listing-card__meta-category">Location:</td>
                            <td class="listing-card__meta-content">{{ page.location }}</td>
                        </tr>
                    {% endif %}
                        <tr>
                            {% if page.caption %}
                                <td class="listing-card__meta-content" colspan=2>{{ page.caption }}</td>
                            {% else %}
                                <td class="listing-card__meta-content" colspan=2>{{ page.fb_caption }}</td>
                            {% endif %}
                        </tr>
               </table>
            {% endif %}
        </div>
    </a>
</div>
