Django
wagtail
pip-tools
django-environ
django-extensions
psycopg2
gunicorn
django_ses[events]
htmx
pymemcache
whitenoise

pytest
coverage
pytest-django
pytest-cov
pytest-env
pytest-freezegun
pytest-xdist
wagtail-factories
ipython
ruff
black
model_bakery

django-salesman[pygments]
django-salesman-stripe
crispy-bootstrap4

