# django-salesman 1.2.1 still pins Django to <4.3
Django
wagtail
wagtail-modeladmin
pip-tools
django-environ
django-extensions
psycopg2
gunicorn
django_ses[events]
htmx
pymemcache
whitenoise
django-storages[boto3]
django-salesman[pygments]
# Forked to allow unpgrading ancient pinned version of stripe
git+https://github.com/rebkwok/django-salesman-stripe.git
crispy-bootstrap4
pytest
coverage
pytest-django
pytest-cov
pytest-env
pytest-freezer
pytest-xdist
wagtail-factories
ipython
ruff
black
model_bakery
wagtail-factories
requests-mock