SECRET_KEY=
DEBUG=
LOCAL=
EMAIL_HOST_USER='dummy_user'
EMAIL_HOST_PASSWORD='dummy_password'
DATABASE_URL=
LOG_FOLDER='path/to/log/folder'
WAGTAILADMIN_BASE_URL=
DOMAIN=

SALESMAN_STRIPE_SECRET_KEY=
SALESMAN_STRIPE_WEBHOOK_SECRET=
STRIPE_CONNECTED_ACCOUNT=

# email, prod only
AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
AWS_SES_REGION_NAME=
AWS_SES_REGION_ENDPOINT=

