{% extends "shop/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
    {% include "shop/includes/header-hero.html" %}

    <div class="container category-detail">
        <div class="row">            

            <div class="col-md-12">
                    {% for childpage in page.get_children %}
                        <i class="fas fa-grip-lines-vertical wm-pink"></i> <a href="{% pageurl childpage %}">
                            {{ childpage.title }}
                        </a>
                    {% endfor %}
                    {% if page.body %}
                        <p class="category-detail__body">
                            {{ page.body|richtext }}
                        </p>
                    {% endif %}
                <div class="container product-listing-card__container pt-2">
                    <div class="product-listing-card__grid">
                        {% for product in page.live_products %}
                            <div>
                                <a href="{{ product.get_absolute_url }}">
                                    {% include "shop/includes/product-listing-card.html" %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
