{% extends "shop/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load crispy_forms_tags %}


{% block content %}
    {% include "includes/header-hero.html" %}

    <div class="container shop-basket">
        <div class="row">
            <div class="col-md-12">
                <h1>Checkout</h1>
                {% if checkout_error %}
                <div class="alert-danger">There was an error submitting this order</div>
                {% endif %}
                {% if basket.items %}
                <h3>Order Summary</h3>
                {% for product_identifier, items in basket.items.items %}
                        <div id="row-{{ product_identifier}}">
                            <h4>{{ items.0.product_type }} ({{ items.0.category }})</h4>
                            <div>    
                            {% for item in items %}
                            <div id="row-{{ item.product_id }}">
                                <div>{{ item.product.name }} (<span id="quantity_{{ item.product_id }}">{{ item.quantity }}</span>) -  
                                    £<span id="subtotal_{{ item.product_id }}">{{ item.subtotal }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        </div>
                    {% endfor %}
                    
                    <div class="mt-4"><h4>Total: £<span id="total">{{ basket.total }}</span></h4></div>
                    
                    <hr class="mt-4 mb-4"/>

                    <h3>Shipping & Billing details</h3>
                    <div class="col-md-12 mt-4">
                        {% if form.errors %}
                            <p class="text-danger">Please correct the errors below:</p>
                        {% endif %}
                        <form method="post" action="">
                            {% csrf_token %}
                            {%  crispy form %}
                        </form>
                    </div>
                {% else %}
                    <p>Basket is empty.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
