{% load wagtailcore_tags wagtailimages_tags static %}

<div>
    <h3 class="listing-card__title">{{ product.name }}</h3>
    {% if product.images %}

        <div id="shopCarousel" class="carousel shop-carousel slide" data-ride="carousel">
            {% if product.images|length > 1 %}
                <ol class="carousel-indicators">
                    {% for im in product.images %}
                        <li data-target="#shopCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
            {% endif %}
            <div class="carousel-inner">
                {% for pimage in product.images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <figure class="product-listing-card__image">
                        {% image pimage fill-180x180-c100 loading="lazy" class="d-block w-180" %}
                    </figure>
                </div>
                {% endfor %}
            </div>
        </div>

        {% else %}
        <figure class="product-listing-card__image">
            <img src={% static 'images/logo.png' %} height="180" width="180" loading="lazy">
            <div class="layer"></div>
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">No photo available</div>
        </figure>
    {% endif %}
    <p>{{ product.description|richtext }}</p>

    <form class="shop-form" action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div id="id_select_variant_wrapper_{{ product.id }}">
                {% include "shop/includes/select_variant_field.html" %}
            </div>
        </div>
        
        {% if not product.out_of_stock %}
        <div class="input-group quantity mb-3">
            <div class="input-group-prepend">
                <span 
                    class="input-group-text"
                    hx-trigger="click"
                    hx-target="#id_quantity_wrapper_{{ product.id }}"
                    hx-get="{% url 'shop:decrease_quantity' product.id %}"
                    hx-include="[id='id_quantity_{{ product.id }}']"  
                >-</span>
            </div>
            <span id="id_quantity_wrapper_{{ product.id }}">
                {% include "shop/includes/quantity_field.html" with product_id=product.id value=1 %}
            </span>
            <div class="input-group-append">
                <span 
                    class="input-group-text"
                    hx-trigger="click"
                    hx-target="#id_quantity_wrapper_{{ product.id }}"
                    hx-get="{% url 'shop:increase_quantity' product.id %}"
                    hx-include="[id='id_quantity_{{ product.id }}']"  
                >+</span>
            </div>
            <input type="submit" 
                class="btn basket-btn"
                value="Add to basket"
                hx-post="{% url 'shop:add_to_basket' product.id %}"
                hx-trigger="click"
                hx-target="#basket-icon"
            >  
        </div>
        {% endif %}
        <input type="hidden" name="product_type" value="shop.ProductVariant">

              
    </form>
    <div id="added_{{ product.id }}"></div>

</div>
